{% load static %}
<!DOCTYPE html>

<html class="no-js" lang="en">


<head>



  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
  <!-- END DATATABLE DEPENDENCIES -->
</head>

<body>


  {% block content %}

  {% endblock %}