{% load static %}
<!-- <link href="{% static 'extra/css/jquery-ui.css' %}" rel="stylesheet" type="text/css"> -->

<!-- <script src="{% static 'extra/js/jquery-ui.min.js' %}"></script>  -->
<!-- <script src="{% static 'extra/js/dataTables.colVis.js' %}"></script> 
<script src="{% static 'extra/js/datatable/dataTables.select.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/dataTables.buttons.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/buttons.flash.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/jszip.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/pdfmake.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/vfs_fonts.js' %}"></script> 
<script src="{% static 'extra/js/datatable/buttons.html5.min.js' %}"></script> 
<script src="{% static 'extra/js/datatable/buttons.print.min.js' %}"></script> 
<script src="{% static 'extra/js/multiselect/bootstrap-multiselect.js' %}"></script> 
<script src="{% static 'extra/js/bootstrap-notify.min.js' %}"></script>  -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        $(".mytable").dataTable();

    });
</script>
<script type="text/javascript">
    var exportString = ['copy', 'excel', 'csv', 'pdf', 'print'];
    var table;
    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        //datatables         
        table = $('#table').DataTable({
            "responsive": true,
            "oLanguage": {
                "sProcessing": "<img src='{% static 'loader/loading.gif' %}'  />"

            },
            "pagingType": "full_numbers",

            "processing": true, //Feature control the processing indicator.
            "serverSide": true, //Feature control DataTables' server-side processing mode.
            "order": [], //Initial no order.
            "lengthMenu": [[100, 200, 300, 500, 1000, -1], [100, 200, 300, 500, 1000, "All"]],
            "paging": true,
            //"lengthMenu" : [[100,200,300,500], [100,200,300,500]],  
            "pageLength": 10,
            // Load data for the table's content from an Ajax source
            "ajax": {
                "url": url,
                "type": "GET",
                "data": function (d) {

                    //alert(JSON.stringify(d.page.info)); 
                    d.Foo = 'crm';
                    d.SearchData = $(".filter_search_data").val();
                    d.SearchData1 = $(".filter_search_data1").val();
                    d.SearchData2 = $(".filter_search_data2").val();
                    d.SearchData3 = $(".filter_search_data3").val();
                    d.SearchData4 = $(".filter_search_data4").val();
                    d.SearchData5 = $(".filter_search_data5").val();
                    d.SearchData6 = $(".filter_search_data6").val();
                    d.SearchData7 = $(".filter_search_data7").val();
                    d.SearchData8 = $(".filter_search_data8").val();
                    d.SearchData9 = $(".filter_search_data9").val();
                    d.SearchData10 = $(".filter_search_data10").val();
                    d.SearchBtn = $(".SearchBtn").val();
                    //d.csrf_crm_ = $("#csrf_token").val();
                    //d.FormData = $(".filter_data_form").serializeArray();
                    //d.deleteIds = $("#getAllselected").val();
                },
            },

            // "drawCallback": function( settings ) {
            //     $( "td" ).each(function( index ) {
            //         value = $( this ).text();
            //         ext =  value.substr(value.lastIndexOf('.')+1);
            //         if ($.inArray(ext,['png','jpg','jpeg','pdf','xlsx','xls','doc','docx'])!=-1)
            //         {
            //         $( this ).html('<a download  href="\\assets\\upload_document\\'+value+'">Download<a>'); 
            //         }
            //         // else if (value.indexOf("https://") != -1)
            //         //     {
            //         // $( this ).html('<a download  href="'+value+'">Download<a>'); 
            //         // }


            //     });
            //  },

            //Set column definition initialisation properties.
            "columnDefs": [
                {
                    "targets": [0, actioncolumn], //first column / numbering column
                    "orderable": false, //set not orderable
                    render: function (data, type, row, meta) {
                        return meta.row + meta.settings._iDisplayStart + 1;
                    }
                },
                { "visible": false, targets: hideCols },//visible all except col no that defines
            ],


            //Data Export 
            //"dom" : ' Bfrtip', //correct Bfrtip 'TC<"clear">lfrtip'
            "dom": 'C<"clear">Bfrtip',
            "buttons": [
                'pageLength',
                {
                    "extend": 'collection',
                    "text": 'Export',
                    "buttons": exportString,

                }

            ],
            "colVis": {
                "activate": "click",
                "restore": "Restore",
                "showAll": "Show all",
                "showNone": "Show none"
            }


        });

        $('.ColVis').css('float', 'left');
        $('.ColVis').css('padding', '1.6px');
        $('.ColVis').css('margin-top', '19px');
        $('#table').addClass("compact");
        $('#table').addClass("ui celled table");

        $(".SearchBtn").click(function () { table.draw(); });
    });



</script>