{% include "login/header.html" %}



<style>
    .side-navbar {
        width: 180px;
        height: 100%;
        position: fixed;
        margin-left: -300px;
        background-color: #100901;
        transition: 0.5s;
    }

    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
        background-color: #ffffff26;
    }

    .my-container {
        transition: 0.4s;
    }

    .active-nav {
        margin-left: 0;
    }

    /* for main section */
    .active-cont {
        margin-left: 180px;
    }

    #menu-btn {
        background-color: #100901;
        color: #fff;
        margin-left: -62px;
    }
</style>





{% include "login/navbar.html" %}


<body>
    <div class="w3-sidebar w3-light-grey w3-bar-block"
        style="width:185px;border-top-right-radius: 25px;box-shadow: 0 30px 40px 20px rgba(0,0,0,.1);">
        <h3 class="w3-bar-item">Menu</h3>
        <hr>
        <a href="/todos/create_todo" class="w3-bar-item w3-button">CRUD</a>


    </div>



</body>