{% include "login/header.html" %}
<style>
    .container {

        /* height: 100%; */
        /* width: 100%;
        padding-top: 15%; */

    }

    .customcontainer {

        /* border-radius: 25px; */
        width: 400px;
        /* margin: 0 auto;
        padding-left: 8%; */


    }

    .errorlist li {
        color: red;
    }
</style>
<div class="container jumbotron text-justify">

    <div class="customcontainer">
        <h1 class="display-4">Login</h1>
        <form id="login_form" class="form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <!-- for security reasons -->
            {{login_form.as_p}}
            <!-- rendering form as paragraph -->
    </div>
    <div class="customcontainer">
        <div class="row">
            <div class=" col-md-4" style="width: 125px;">
                <input type="submit" class="btn  btn-outline-info" value="Login">
                </form>
            </div>

            <div class="col-md-4" style="width: 130px;">
                <form action="/register">
                    <input type="submit" class="btn  btn-outline-info" value="Sign up" />
                </form>
            </div>
            <div class="col-md-4">
                <form action="/forgot_password">
                    <input type="submit" class="btn  btn-outline-info" value="Forgot password" />
                </form>
            </div>
        </div>

    </div>



</div>