{% include 'login/header.html' %}


{% block content %}

<!--Password reset sent-->
<style>
    body {
        /* background-image: url(static/img/bg10.webp); */
        background-color: aqua;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* optional, center the image */
    }
</style>

<body>
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Password reset sent</h2>
        <hr>
        <p>We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You
            should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address
            you
            registered with, and check your spam folder.</p>
    </div>
</body>

{% endblock %}