{% include "login/header.html" %}

{% block content %}

{% load crispy_forms_tags %}
<style>
    body {
        /* background-image: url(static/img/bg10.webp); */
        background-color: aqua;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* optional, center the image */
    }
</style>
<!--Password Reset Confirm-->

<body>
    <div class="container p-5">
        <h2 class="font-weight-bold mt-3">Password Reset Confirm</h2>
        <hr>
        <p>Please enter your new password.</p>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <br>
            <button class="btn btn-primary" type="submit">Reset password</button>
        </form>
    </div>
</body>

{% endblock %}