{% include "login/header.html" %}

{% block content %}

<!--Password Reset Complete-->
<style>
    body {
        /* background-image: url(static/img/bg10.webp); */
        background-color: aqua;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        /* optional, center the image */
    }
</style>

<body>
    <div class="container p-4">
        <h2 class="font-weight-bold mt-3">Password reset complete</h2>
        <hr>
        <p>Your password has been set. You may go ahead and log in now.</p>
        <a href="/" class="btn btn-primary">Log in</a>
    </div>
</body>
{% endblock %}