{% include "login/header.html" %}
<div class="container jumbotron text-justify">
    <h1 class="display-4">Password reset</h1>
    {% if otp %}
    <form action="/save_password/" method="post">
        {% csrf_token %}
        <label for="password">New password</label>
        <input type="password" name="password1" class="form-control" style="width: 200px;" />
        <br>
        <label for="password">Confirm password</label>
        <input type="password" name="password2" class="form-control" style="width: 200px;" />
        <br>
        <input type="submit" class="btn  btn-outline-info" value="Submit" />
    </form>

    {% elif reset %}
    <form action="/otp_check/" method="post">
        {% csrf_token %}
        <label for="otp">OTP</label>

        <input type="number" name="otp" class="form-control" style="width: 200px;" />
        <br>
        <input type="submit" class="btn  btn-outline-info" value="Submit" />
    </form>
    {% else %}
    <form action="/forgot_password/" method="post">
        {% csrf_token %}
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" style="width: 200px;" />
        <br>
        <input type="submit" class="btn  btn-outline-info" value="Submit" />
    </form>
    <form action="/">
        <input type="submit" class="btn  btn-outline-info" value="Go back" />
    </form>
    {% endif %}





</div>