{% include "login/header.html" %}



<style>
    .side-navbar {
        width: 180px;
        height: 100%;
        position: fixed;
        margin-left: -300px;
        background-color: #100901;
        transition: 0.5s;
    }

    .nav-link:active,
    .nav-link:focus,
    .nav-link:hover {
        background-color: #ffffff26;
    }

    .my-container {
        transition: 0.4s;
    }

    .active-nav {
        margin-left: 0;
    }

    /* for main section */
    .active-cont {
        margin-left: 180px;
    }

    #menu-btn {
        background-color: #100901;
        color: #fff;
        margin-left: -62px;
    }
</style>







{% include "login/navbar.html" %}





<div class="container">
    <div class="col-sm-4">

        <h1 class="display-4">Create</h1>
        <form id="login_form" class="form" method="post" action="{% url 'create_todo' %}">
            {% csrf_token %}

            {{form.as_p}}

            <input type="submit" class="btn  btn-outline-info" value="Save">
        </form>
    </div>

</div>