{% include "login/header.html" %}
<div class="container jumbotron text-justify">
    <h1 class="display-4">Register</h1>
    <form id="register_form" class="form" method="post" action="{% url 'register' %}">
        {% csrf_token %}

        {{form.as_p}}
        {% if form.errors %}


        {% endif %}

        <div class="row">
            <div class=" col-md-1">

                <input type="submit" class="btn  btn-outline-info" value="Sign up">
    </form>
</div>
<div class=" col-md-1">
    <form action="/">
        <input type="submit" class="btn  btn-outline-info" value="Log in" />
    </form>
</div>

</div>



</div>